<!-- <form action='/users/<%=current_user.id%>/play_round' method= 'POST'>
  <label>Range:</label>
  <input type="text" name="location" placeholder="range name here"/>
  <label>Number of Ends:</label>
  <input type="integer" name="num_of_ends" placeholder="-"/>
  <label>Arrows per End:</label>
  <input type="integer" name="arrows_per_end" placeholder="-"/>
  <input type="submit" value="Create Round"/>
</form> -->



<!-- <table>
  <% current_round.num_of_ends.times do |round_end| %>
    <th>End #<%=round_end%>:</th>

    <tr>
    <% current_round.arrows_per_end.times do |end_arrow| %>
      <td><form> <%= end_arrow %>: <input type="integer" name="score"> </form></td>
    <% end %>
    </tr>
  <% end %>
</table> -->

<!-- need to create a round, the ends, and the arrows, so that I have instances of each after the submit button is clicked. -->


 <table>
  <% @num_of_ends.times do |round_end| %>
    <th>End #<%=round_end%>:</th>

    <tr>
    <% @arrows_per_end.times do |end_arrow| %>
      <td><form> <%= end_arrow %>: <input type="integer" name="score"> </form></td>
    <% end %>
    </tr>
  <% end %>
  </table>